body {
    --preto: #1f192f;
    --azul-Marinho: #2d6073;
    --azul: #00a8c6;
    margin: 0;
    background-color: #131616 !important;
}

nav .navbar-brand, nav .nav-link {
    color: white;
}

nav .nav-link:hover {
    color: var(--azul);
    border-bottom: 1px solid var(--azul);
}

nav .container-fluid {
    display: flex;
    justify-content: space-between;
}

main .banner {
    background-image: url(../resources/imagens/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    margin-top: -20px;
}

main .banner h1, main .titulo {
    font-weight: 900;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    background-color: #131616;
}

main .container-eventos {
    background: #d1d0d0;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    margin-bottom: 10px;
}
main .titulo {
    color: #d1d0d0;
}

h1 {
    color: black;
}

.texto {
    color: white;
}

main .img-evento {
    height: 300px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}
main .card {
    padding: 30px;
    border-radius: 12px;
}

main .card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

main .banner-2 {
    background-image: url(../resources/imagens/bgUmentor.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 70vh;
    display: flex;
    margin-bottom: -20px;
}

#container_formulario {
    border-radius: 10px;
    background-color: #d1d0d0;

}
#container_titulo {
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 10px 10px 0 0;
}

#lista_inscricoes, .eventos_container, .sobre_containter {
    display: flex;
    width: 100%;
    margin: 5em 0;
    justify-content: center;
    text-align: left;
}

.lista_texto, .eventos_lista, .div_container{
    max-width: 1170px; 
}

.container {
    background-color: #d1d0d0;

}

.container form, .card {
    padding: 16px;
}

#container_pagina {
    background-color: transparent;
}

.texto_sobre {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
}

@media screen and (max-width: 575px) {
    #container_formulario {
        max-width: 95%;
    }
}

@media screen and (max-width: 768px) {
    main .banner {
        background-size: 100%;
        background-attachment: scroll;
        height: 250px;
    }

    main .banner-2 {
        display: none;
    }
}